/*Assets*/

.alien {
  position: absolute;
  width:64px;
  height: 64px;

  /*z-index: 1;*/

}




/*Page Styles*/
body {


}

.gameScreen {
  background-image:url('http://67.media.tumblr.com/d629b615957dd93e460a9170b802fd28/tumblr_n9jk2qAjGS1s4fz4bo1_500.gif');
  /*background-position: fill;*/
  /*background-repeat: no-repeat;*/
  background-size: cover;
  position: relative;
  width:auto;
  height:400px;
}
