/*Assets*/

.alien {
  position: absolute;
  width:42px;
  height: 42px;
}

.player {
  position: absolute;
  width:64px;
  height:64px;
}

.rocket {
  position: absolute;
  width: 16px;
  height: 16px;
}




/*Page Styles*/
body {
  font-family: sans-serif;

}

.gameScreen {
  margin-top: 10px;
  background-image:url('../assets/background.gif');
  /*background-position: fill;*/
  /*background-repeat: no-repeat;*/
  background-size: cover;
  position: relative;
  width:auto;
  height:500px;
}
