/*Assets*/

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

.alien {
  position: absolute;
  width:42px;
  height: 42px;
}

.player {
  position: absolute;
  width:64px;
  height:64px;
}

.rocket {
  position: absolute;
  width: 16px;
  height: 16px;
}


/*Page Styles*/
body {
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(5,5,5);

}

.gameScreen {
  display: none;
  margin: auto;
  /*margin-top: 5%;*/
  background-image:url('../assets/background.gif');
  /*background-position: fill;*/
  /*background-repeat: no-repeat;*/
  background-size: cover;
  position: relative;
  width:auto;
  /*height:500px;*/
  border-radius: 5px;
}

.timer{
  position: absolute;
  top:10px;
  left: 10px;
  color:white;
}


#liveScore{
  right: 10px;
  top:0;
  position: absolute;
  margin:10px;
  color:white;
  text-align: left;
}

.progress{
  position: absolute;
  bottom:0;
  right:0;
  width:200px;
  height:300px;
  /*border:2px white dashed;*/
}

#red-progress{
  position: absolute;
  bottom:10px;
  right:130px;
  width:50px;
  height:0px;
  background-color: red;
}

#green-progress{
  position: absolute;
  bottom:10px;
  right:70px;
  width:50px;
  height:0px;
  background-color: green;
}

#blue-progress{
  position: absolute;
  bottom:10px;
  right:10px;
  width:50px;
  height:0px;
  background-color: blue;
}

.goal{
  position: absolute;
  right:10px;
  bottom:300px;
  height:150px;
  width: 150px;
}

.goal p{
  position: absolute;
  margin:0 auto;
  bottom:0;
  color:white;
}

#goalColor{
  top:10px;
  right: 25px;
  position: absolute;
  margin:auto;
  align:center;
  height:100px;
  width:100px;
  /*border: 2px white dashed;*/
  border-radius:10px;
}

.endScreen {
  display:none;
  margin: auto;
  /*margin-top: 5%;*/
  background-image:url('../assets/background.gif');
  /*background-position: fill;*/
  /*background-repeat: no-repeat;*/
  background-size: cover;
  position: relative;
  width:auto;
  /*height:500px;*/
  border-radius: 5px;
  color: white;
}


.endScreen h2{
  position: absolute;
  font-size: 1.2em;
  margin: 180px 0 0 -50px;
  left: 50%;
  text-align: center;
}

.endScreen p{
  position: absolute;
  width: 70%;
  margin: 230px 0 0 -50px;
  left: 25%;
  text-align: center;
}

#endScore{
 position: absolute;
  width: 70%;
  margin: 280px 0 0 -50px;
  left: 25%;
  text-align: right;
}

#reset{
  position: absolute;
  width: 70%;
  margin: 280px 0 0 -50px;
  left: 25%;
  text-align: left;
}



.startScreen{
  /*display:none;*/
  /*margin-top: 5%;*/
  background-image:url('../assets/background.gif');
  /*background-position: fill;*/
  /*background-repeat: no-repeat;*/
  background-size: cover;
  position: relative;
  width:auto;
  /*height:500px;*/
  border-radius: 5px;
  color: white;
  margin: auto;

}

a{
  text-decoration: none;
}

.containStart{
  position:absolute;
  width:70%;
  height:300px;
  margin: 0 auto;
  left:19%;
  top:15%;
  text-align: center;
}

